@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
  color: #ffffff; /* biely text */
  font-family: sans-serif;

  /* Background image */
  background-image: url('/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* Dark overlay */
body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75); /* dark overlay */
  z-index: 0;
}

/* Gradient animácia pre text */
@keyframes gradient-red {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

/* Utility trieda na textový gradient */
.animate-gradient-red {
  background: linear-gradient(90deg, #cf0000, #6d0000, #cf0000);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-red 8s linear infinite;
}

/* Utility trieda – light gray → soft red → light gray */
.animate-gradient-lighted {
  background: linear-gradient(90deg, #e5e7eb, #ffc3c3, #e5e7eb);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-red 18s linear infinite;
}

/* Utility trieda – light gray → soft red → light gray */
.animate-gradient-info {
  background: linear-gradient(90deg, #ec9595, #ffd3d3, #ec9595);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient-red 8s linear infinite;
}

/* Chrome, Edge, Safari */
.flex::-webkit-scrollbar {
  height: 12px;
}

/* Hover (myš nad thumb) */
.flex::-webkit-scrollbar-thumb:hover {
  background-color: #160094; /* modrá pri hover */
}

/* Click (držanie tlačidla) */
.flex::-webkit-scrollbar-thumb:active {
  background-color: #0d0066; /* tmavá modrá pri kliku */
}

.flex::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.flex::-webkit-scrollbar-thumb {
  background-color: #f87171; /* default červená */
  border-radius: 6px;
  /* !!! NESMIE byť border: 3px solid transparent */
}

/* Firefox */
.flex {
  scrollbar-width: thin;
  scrollbar-color: #700000 rgb(15, 15, 15);
}

/* Odstránenie bieleho autofill pozadia v Chrome, Firefox, Edge */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #374151 inset !important; /* bg-gray-700 */
  -webkit-text-fill-color: white !important;
}

/* Pre Firefox */
input:autofill {
  background-color: #374151 !important; /* bg-gray-700 */
  color: white !important;
}
